* {margin: 0;
padding: 0%;
box-sizing: border-box;}

@font-face {
    font-family: italianno;
    src: url(./fonts/Italianno-Regular.ttf);}
    @font-face {
    font-family: Phudo;
    src: url(./fonts/static/Phudu-Bold.ttf);
}
@font-face {
  font-family: courgette;
  src: url(./fonts/Courgette-Regular.ttf);
}
 /* #acd9ed */
.navbar-nav.me-auto.mb-2.mb-lg-0 {padding-left: 10rem; font-size: 1.4rem;}

#nav-line {background-color: #132f3b; color: white; text-align: center;}
#navbar {background-image: linear-gradient(rgb(146, 200, 205) , white); justify-content: space-around;}
.navbar-brand {font-family: "italianno" !important; font-size: 3rem; color: purple; text-shadow: 
    0 0 7px #fff, 
    0 0 10px #fff, 
    0 0 21px #fff, 
    0 0 42px rgb(199, 34, 207) , 
    0 0 82px rgb(199, 34, 207), 
    0 0 92px rgb(199, 34, 207), 
    0 0 102px  rgb(199, 34, 207),
    0 0 151px rgb(199, 34, 207);}
  a.hover {color: #fff;}
  /* text-shadow: 
    0 0 7px #fff, 
    0 0 10px #fff, 
    0 0 21px #fff, 
    0 0 42px rgb(199, 34, 207) , 
    0 0 82px rgb(199, 34, 207), 
    0 0 92px rgb(199, 34, 207), 
    0 0 102px  rgb(199, 34, 207),
    0 0 151px rgb(199, 34, 207);} */
    .nav-link {color: purple; font-family: 'Times New Roman', Times, serif;}

.nav-link.active.active {color: #203850; font-weight: 1000; text-decoration: underline; }

.btn.btn-outline-success {background-color: #132f3b; color: white;}
.nav-link:focus {color: #356391;}
.nav-link:hover { font-weight: 1000; color: purple; text-shadow: 
    0 0 7px #fff, 
    0 0 10px #fff, 
    0 0 21px #fff, 
    0 0 42px rgb(199, 34, 207) , 
    0 0 82px rgb(199, 34, 207), 
    0 0 92px rgb(199, 34, 207), 
    0 0 102px  rgb(199, 34, 207),
    0 0 151px rgb(199, 34, 207);}
.dropdown-menu.show { padding: 0;}
.dropdown-item {color: purple; font-family: serif;}
.dropdown-item:focus {background-color: rgb(146, 200, 205);}


.mainheading {text-align: center; color: #203850; font-family: "phudo";}
.detail-card {border: 0.5rem solid #98c8cd; box-shadow: 2px 4px 5px black; display: flex; align-content: center;  margin: auto;}

.detail-info { display: inline-block; display: flex; flex-direction: column; margin: auto; width: 70%; }
h2 {color: #356391;}
.product-img {object-fit: cover; width: 30%;}
.price {color: green;}
button {background-color: #356391;color: white; margin: auto; border-radius: 5%; font-family: serif;}
button > a {text-decoration: none; color: white; font-family: serif; padding: 1rem;}
button:hover {transform: scale(1.2); background-color: purple;}